# This is a sample config file. It was tested with:
#
#      Compiler name/version:       [XL C/C++:   V9.0, V10.1, V11.1]
#                                   [XL Fortran: V11.1, V12.1, V13.1]
#      Operating system version:    [SLES: V10, V11]
#                                   [Red Hat: V5, V6]
#      Hardware:                    [IBM Power Based System]
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is.
#
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC technical
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is
# the config file that will provide the best performance.
#
# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/cpu2006

################################################################################
#
# SPEC CPU2006 Benchmark Portability Config file IBM Power Systems Linux
#
################################################################################

# Use a flag file that has already been published
flagsurl1 = http://www.spec.org/cpu2006/flags/IBM-Linux-XL.20110613.xml
flagsurl2 = http://www.spec.org/cpu2006/flags/IBM-Linux-platform.20110613.xml

#
# To navigate, "export GO=path" and use "ogo" instead of "go"
#              "export OGO_NO_WARN=0" to suppress path msg on every use
#
output_root=${top}/zExample64

#===============================================================================
# Global Options apply to all runs
#===============================================================================

action          = validate
tune            = base,peak
iterations      = 3
output_format   = all
basepeak        = 1
reportable      = 1
ext             = Linux64
size            = test,train,ref

# These are the envionment variables that are set before the run
preenv          = 1
preENV_XLFRTEOPTS=intrinthds=1

# Controls if the log file info is echo'd to the screen
teeout          = no

# If 1, then a copy of the config file is made before modifing this one with MD5
# signitures of the compile options.
backup_config   = 0

# verbose -> -v
#verbose	= 1 to 99, 5 is default, 91 is good for debugging

#uncomment the following line for parallel compile
#makeflags       = -j7

# We alway use submit to ensure there is a bindprocessor done.
use_submit_for_speed = 1
submit = taskset -p -c \$SPECCOPYNUM \$\$ >/dev/null; $command
notes_submit_000        = The config file option 'submit' was used
notes_submit_010        = to assign benchmark copy to specific kernel thread using
notes_submit_020        = the "taskset" command (see flags file for details).

#--prevent log file lines that are too long for vi
log_line_width  = 110


default=default=default=default:

# Set the path that the compiler is located at.
CC_PATH         = /opt/ibmcmp/vac/11.1/bin
CXX_PATH        = /opt/ibmcmp/vacpp/11.1/bin
XLF_PATH        = /opt/ibmcmp/xlf/13.1/bin

#===============================================================================
# How the compilers are called
# The settings used here are for IBM XL C/C++ and IBM XL Fortran compilers
#===============================================================================

CC      = $(CC_PATH)/xlc -qlanglvl=extc99
CXX     = $(CXX_PATH)/xlC
FC      = $(XLF_PATH)/xlf95

#======================================================================
# Base Level Optimizations
#   No limit to number of flags, must be same for all of each Language.
#======================================================================

%define IPAC -qipa=noobject
%define IPAL -qipa=threads
%define O2 -O2 -qarch=auto -qtune=auto
%define O3 -O3 -qarch=auto -qtune=auto
%define O4 -O4
%define O5 -O5

##
## Uncomment 1 and only 1 of following "%define VSX" lines
##
# POWER7 and V11.1/V13.1 compilers, use VSX form of simd
%define VSX -qsimd
# POWER6 and V10.1/V12.1 compilers, VMX is the default
#%define VSX

OPTIMIZE       = %{IPAC} -q64

sw_base_ptrsize = 64-bit
sw_peak_ptrsize = 64-bit

int=default=default=default:
# -qalias only needed for 400.perlbench
# -qalloca used in 403.gcc
COPTIMIZE      = %{O5} -qalias=noansi -qalloca
# rtti=all only needed for 471.omnetpp
#          But is required for base runs
CXXOPTIMIZE    = %{O5} -qrtti=all
LDCFLAGS       = %{IPAL}
LDCXXFLAGS     = %{IPAL}

fp=default=default=default:
COPTIMIZE      = %{O5}
# -qalias only needed for 416.gamess
FOPTIMIZE      = %{O5} -qalias=nostd
# rtti=all only needed for 447.dealII
#          But is required for base runs
CXXOPTIMIZE    = %{O4} %{VSX} -qrtti=all
LDCFLAGS       = %{IPAL}
LDCXXFLAGS     = %{IPAL}
LDFFLAGS       = %{IPAL}


#===============================================================================
# Portability Flags
#     no optimizations allowed here
#===============================================================================

default=default=default=default:

# LP64 must be the same for all in base runs
# but is only required for 400, 403, 436, 453
CPORTABILITY = -DSPEC_CPU_LP64
CXXPORTABILITY = -DSPEC_CPU_LP64
FPPPORTABILITY = -DSPEC_CPU_LP64

400.perlbench=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX_PPC -DSPEC_CPU_LP64

410.bwaves=default=default=default:
FPORTABILITY   = -qfixed

416.gamess=default=default=default:
FPORTABILITY   = -qfixed

434.zeusmp=default=default=default:
FPORTABILITY   = -qfixed

435.gromacs=default=default=default:
FPORTABILITY   = -qfixed -qextname

436.cactusADM=default=default=default:
FPORTABILITY   = -qfixed -qextname

437.leslie3d=default=default=default:
FPORTABILITY   = -qfixed

454.calculix=default=default=default:
FPORTABILITY   = -qfixed -qextname

462.libquantum=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX -DSPEC_CPU_LP64

464.h264ref=default=default=default:
CPORTABILITY   = -qchars=signed -DSPEC_CPU_LP64

481.wrf=default=default=default:
CPORTABILITY   = -DNOUNDERSCORE -DSPEC_CPU_LP64

482.sphinx3=default=default=default:
CPORTABILITY   = -qchars=signed -DSPEC_CPU_LP64

483.xalancbmk=default=default=default:
CXXPORTABILITY   = -DSPEC_CPU_LINUX -DSPEC_CPU_LP64

#===============================================================================
# Report requirements
#===============================================================================
# default sysinfo is expected to write hw_cpu_name, hw_memory, hw_nchips,
# hw_disk, prepared_by, sw_os, sw_file, sw_state
default=default=default=default:

test_sponsor		= Submitting Company Name
tester			= Testing Company Name
hw_vendor               = IBM Corporation
license_num		= 0

hw_avail                = May-2011
hw_cpu_mhz              = 3612
hw_cpu_char001          = Intelligent Energy Optimization enabled,
hw_cpu_char002          = up to 3.86 GHz
hw_other                = None
hw_model                = IBM Power 750 Express (3.61 GHz, 32 core)
hw_ncpuorder            = 8 - 32 cores
hw_ncores               = 32
hw_ncoresperchip        = 8
hw_nthreadspercore      = 4
hw_fpu                  = Integrated
hw_pcache               = 32 KB I + 32 KB D on chip per core
hw_scache               = 256 KB I+D on chip per core
hw_tcache               = 4 MB I+D on chip per core
hw_ocache		= None

sw_avail                = Nov-2010
sw_compiler01           = IBM XL C/C++ for Linux, V11.1
sw_compiler02           =  Version: 11.01.0000.0001
int=default=default=default:
sw_other                = None
fp=default=default=default:
sw_compiler11           = IBM XL Fortran for Linux, V13.1
sw_compiler12           =  Version: 13.01.0000.0001
sw_other                = None
default=default=default=default:

notes_os_000		= "ulimit -s" used to remove statck size limit.
