# This is a sample config file. It was tested with:
# 
#      Compiler name/version:       gcc version 4.0.1 (Apple Computer, Inc. build 5370)
#      Operating system version:    Mac OSX 10.4.11
#      Hardware:                    PowerPC 32-bit
#
# If your platform uses different versions, different
# hardware or operates in a different mode (for 
# example, 32- vs. 64-bit mode), there is the possibiliy
# that this configuration file may not work as-is. 
# 
# Note that issues with compilation should be directed
# to the compiler vendor. Information about SPEC technical
# support can be found in the techsupport document in the
# Docs directory of your benchmark installation.
#
# Also note that this is a sample configuration. It
# is expected to work for the environment in which
# it was tested; it is not guaranteed that this is 
# the config file that will provide the best performance.
# 
# Note that you might find a more recent config file for
# your platform with the posted results at
# www.spec.org/cpu2006

#----------------------------------------------------------------------------
# Note: This config cannot be used for a reportable CFP2006 run
#----------------------------------------------------------------------------
#
# This config file includes support only for the C and C++ benchmarks.  
# To run the full floating point suite, you would need to add a Fortran 
# compiler along with appropriate portability options.  SPEC does not 
# promise that you could get this to work.   
#
# The runlist below by default includes only the C and C++ benchmarks
# If you don't specify a runlist on the command line, you'll get all the
# ones that are expected to work with gcc 4.0.1
runlist         = all_c,all_cpp
#----------------------------------------------------------------------------


ext             = macosx_ppc32_gcc40
action          = validate
tune            = base
iterations      = 1
ignore_errors   = 1
output_format   = all
flagsurl        = $[top]/Docs/flags/flags-simple.xml
check_md5       = 1
basepeak        = 1

#----------------------------------------------------------------------
# Compilers
#----------------------------------------------------------------------
default=default=default=default:
CC           = gcc
CXX          = g++
FC           = echo "this config file has not been set up for Fortran"

#----------------------------------------------------------------------
# Base Optimization Flags
#----------------------------------------------------------------------
int=base=default=default:
COPTIMIZE   = -O3 -mdynamic-no-pic -g
CXXOPTIMIZE = -O3 -mdynamic-no-pic -g

fp=base=default=default:
COPTIMIZE   = -O3 -mdynamic-no-pic -g
CXXOPTIMIZE = -O3 -mdynamic-no-pic -g

#----------------------------------------------------------------------------
#
# Note: These flags have not been approved by the SPEC CPU subcommittee.  If 
# this config file were to be used as the basis of a formal, "reportable" run, 
# such approval would have to be obtained.  Please see the run rules:
# 
# http://www.spec.org/cpu2006/docs/runrules.html#rule_2.1.5
#----------------------------------------------------------------------------

400.perlbench=default=default=default:
CPORTABILITY    = -DSPEC_CPU_MACOSX_PPC

403.gcc=default=default=default:
CPORTABILITY    = -DSPEC_CPU_MACOSX

462.libquantum=default=default=default:
CPORTABILITY    = -DSPEC_CPU_MACOSX

483.xalancbmk=default=default=default:
CXXPORTABILITY  = -DSPEC_CPU_MACOSX

#----------------------------------------------------------------------
# Notes
#----------------------------------------------------------------------
default=default=default=default:
# Note that various fields are not mentioned here because they 
# are set by the "sysinfo" program. 
#    http://www.spec.org/cpu2006/Docs/config.html#sysinfo
license_num      = 999
hw_avail         = Dec-9999
sw_avail         = Dec-9999
tester           = Apple
test_sponsor     = Apple
hw_cpu_char      = 
hw_fpu           = Integrated
hw_ncpuorder     = 1 cpu
hw_ncoresperchip = 1
hw_nthreadspercore = 1
hw_ocache        = None
hw_other         = None
hw_pcache        = 32 KB I + 32 KB D on chip per chip
hw_vendor        = Apple Computer, Inc.
sw_base_ptrsize  = 32-bit
sw_compiler      = GCC v4.0.1 (Apple Computer, Inc. build 5370)
sw_file          = HFS+
sw_state         = Default
sw_peak_ptrsize  = 32-bit

notes0        = Boot ROM Version: 4.8.9f1

